decord
einops
huggingface_hub
matplotlib
numpy
opencv_python
pyarrow>15
PyYAML
Requests
safetensors
scipy
sentencepiece
torch
torchvision
transformers
#flash_attn==2.5.8
accelerate>=0.34.0
wandb
gradio
setuptools
wheel
ninja
bitsandbytes
xlsxwriter
triton ; sys_platform != 'win32'
triton-windows ; sys_platform == 'win32'